:root {
    --yellow: rgb(252, 202, 43);
    --blue: rgb(177, 213, 245);
    --darkblue: rgb(66, 66, 143);
    --text: rgb(71, 69, 69);
  }
.typewriter-container{
background-color: var(--darkblue);
color: whitesmoke;
font-size: xx-large;
text-align: center;
}
