:root {
    --yellow: rgb(252, 202, 43);
    --blue: rgb(177, 213, 245);
    --darkblue: rgb(66, 66, 143);
    --text: rgb(71, 69, 69);
    --navy: rgba(1, 24, 58, 255);
}

.discover-container {
    background: url(../../assets/company/discover.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.slide-txt {
    opacity: 0.9;
    background-color: whitesmoke;
    margin: 5% 0% 0% 25%;
    border-radius: 5px;
}
.discover-head{
    opacity: 1;
    padding-left: 5%;
    color: var(--navy);
}
.discover-heading{
    padding-left: 3%;
    padding-bottom: 3%;
    color: var(--darkblue);
}
.slider-container{
    margin: 2% 0% 0% 2%;
}
.discover-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 250px;
}
.card-heading{
    color: var(--navy);
}
.card-txt{
    margin-top: 2%;
    color: var(--text);
}
.course-btn{
    background-color: var(--navy);
    padding: 2%;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
}
.course-btn:hover{
    cursor: pointer;
}
@media only screen and (max-device-width: 768px){
.slide-txt{
   margin: 10% 0% 0% 10%;
    width: 80%;
}
}