:root {
  --yellow: rgb(252, 202, 43);
  --blue: rgb(177, 213, 245);
  --darkblue: rgb(66, 66, 143);
  --text: rgb(71, 69, 69);
}
.benefits-container{
  background-color: whitesmoke;
  padding: 5% 20% 5% 20%;
}
.benefits-icon{
display: flex;
margin: auto;
font-size: 100px;
color: var(--yellow);
}
.benefits-heading{
  text-align: center;
  color: var(--darkblue);
}
.benefits-txt{
  text-align: center;
  color: var(--text);
  font-size: large;
}
@media only screen and (max-device-width: 768px) 
{
  .benefits-container{
    padding: 10% 0% 10% 0%;
  }
.benefits-icon{
  font-size:20px;
}
.benefits-heading{
font-size: x-small;
}
.benefits-txt{
  font-size: 8px;
}
}