:root {
    --yellow: rgb(252, 202, 43);
    --blue: rgb(177, 213, 245);
    --darkblue: rgb(66, 66, 143);
    --text: rgb(71, 69, 69);
    --red: rgb(209, 11, 57);
    --navy: rgba(1, 24, 58, 255);

  }
  
.services-container {
    margin-top: 10%;
}

.service-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 3%;
    flex-direction: column;
    padding: 2%;
    border-radius: 5px;
    background-color: whitesmoke;
    opacity: 0.95;
}
.service-heading{
    text-align: center;
    color: var(--navy);
}
.service-category{
    color: var(--darkblue);
    padding: 2%;
}
.service-title{
    text-align: center;
    color: var(--red);
}
.service-desc{
    color: var(--text);
    text-align: center;
}
.get-service{
    background: none;
    padding: 2%;
    border: none;
    text-align: center;
    background-color: var(--navy);
    color: var(--yellow);
    border-radius: 5px;
    width: 100%;
    font-size: medium;
}
.get-service:hover{
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--navy);
}
.service-img{
    width: 100%;
    border-radius: 5px;
}
@media only screen and (max-device-width: 768px){
    .services-container{
        margin-top: 50%;
    }
}