:root {
    --yellow: rgb(252, 202, 43);
    --blue: rgb(177, 213, 245);
    --darkblue: rgb(66, 66, 143);
    --text: rgb(71, 69, 69);
    --navy: rgba(1, 24, 58, 255);
}
.joinus-txt-container{
    /* background-color: whitesmoke; */
    padding: 5% 5% 5% 5%;
}
.joinus-txt-container-b{
    /* background-color: whitesmoke; */
    padding: 5% 5% 5% 5%;
}
.joinus-heading{
    text-align: center;
    color: var(--navy);
}
.joinus-txt{
    text-align: justify;
    color: var(--text);
    padding: 5%;
}
.joinus-img{
    width: 100%;
    height: 350px;
}
.joinus-heading-b{
    color: var(--navy);
    text-align: center;


}
.joinus-txt-b{
    color: var(--text);
    text-align: justify;
    padding: 5%;

}
@media only screen and (max-device-width: 768px){
    .joinus-txt-container{
        padding: 2%;
    }
    .joinus-txt-container-b{
        padding: 2%;
    }
}