:root {
  --yellow: rgb(252, 202, 43);
  --blue: rgb(177, 213, 245);
  --darkblue: rgb(66, 66, 143);
  --text: rgb(71, 69, 69);
}
.course-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 350px;
}
.courses-container{
  padding: 3% 3% 3% 3%;
  z-index: 0;
}
.course-detail{
  position: relative;
  text-align: center;
}
.course-img{
width: 80%;
display: flex;
margin: auto;
z-index: 0;
}
.course-heading{
 text-align: center;
 color: var(--darkblue);
}
@media only screen and (max-device-width: 768px) {
  .course-heading{
    font-size: small;
  }
  .course-img{
    width: 100%;
  }
.course-card{
  height: 80px;
}
}