.gallery-container{
    padding: 2%;
}
.training-img{
    width: 95%;
    transition: transform .5s ease;
    height: 250px;
    border-radius: 0.5em;
 
}
.training-img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .gallery-heading{
    color: var(--yellow);
    text-align: center;
    padding: 2%;
    font-size:100px;
  }