:root {
  --yellow: rgb(252, 202, 43);
  --blue: rgb(177, 213, 245);
  --darkblue: rgb(66, 66, 143);
  --text: rgb(71, 69, 69);
  --navy:rgba(1,24,58,255);
}
.tagline-container {
  margin-top:8%;
  background-color: white;
  overflow-x: hidden;
  padding-left: 10%;
  padding-right: 10%;
  background: url(../../assets//company/tagline.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.tagline-heading {
  margin-top: 20%;
  padding-top: 10%;
  padding-left:5%;
  color: var(--yellow);
  text-align: justify;
}
.tagline-txt{
  color: whitesmoke;
text-align: justify;
padding: 5%;
background-color: var(--navy);
}
.tagline-btn-container{
    margin-left: 5%;
}
.tagline-btn {
  border: none;
  font-size:medium;
  margin: 2%;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.apply {
  background-color: var(--darkblue);
  color: var(--yellow);
}
.contact {
  border-radius: 5px;
  border: solid 2px var(--text);
  color: var(--text);
}
.tagline-btn:hover{
    cursor: pointer;
}
.tagline-trainings-img{
    width: 80%;
    margin-left:20%;
    margin-top: 20%;
}
#tagline-partners-txt{
    color: var(--text);
    font-size: xx-large;
    text-align: center;
}

@media only screen and (max-device-width: 768px) {
 .tagline-container{
  margin-top: 25%;
 }
  .tagline-btn {
    border: none;
    font-size: small;
    margin: 2%;
    padding: 10px;
    border-radius: 5px;
    font-weight: 100;
  }
  .tagline-heading {
    padding-top: 10%;
    padding-left:5%;
    color: var(--yellow);
    text-align: justify;
    font-size: x-large;
  }
}