:root {
    --yellow: rgb(252, 202, 43);
    --blue: rgb(177, 213, 245);
    --darkblue: rgb(66, 66, 143);
    --text: rgb(71, 69, 69);
    --navy: rgba(1, 24, 58, 255);
}

.courses-page-container {
    margin-top: 8%;
    padding: 0% 10% 0% 10%;
    background-color: whitesmoke;
}

.course-category {
    color: var(--text);
}

span {
    color: var(--yellow);
}

.course-type {
    color: var(--navy);
}

.course-page-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 3%;
    flex-direction: column;
    padding: 2%;
    /* min-height: 620px; */
    border-radius: 5px;
}

.course-title-img {
    width: 100%;
}

.course-title {
    color: var(--text);
    text-align: center;
}

.course-desc {
    color: var(--text);
    margin-left: 2%;
}

.duration {
    color: var(--navy);
}

.elements {
    color: var(--darkblue);
    text-align: center;
}

.price {
    opacity: 0;
}

@media only screen and (max-device-width: 768px) {
    .courses-page-container {
        padding: 0%;
        margin-top: 50%;
    }

    .course-page-card {
        margin: 2%;
        padding: 2%;
        height: 500px;
    }
}